.list {
    background-color: white;
    border-radius: 8px;
    border: solid aquamarine;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: 70px auto 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }
  